// ホバーのトリガーとなる要素につけるクラス
// アイコンを回転させている
$_hover-trigger: '.c-prefix-right-hover';

.c-prefix-right {
  display: inline-block;
  padding-left: (16 / 16) + em;
  position: relative;
}

.c-prefix-right__icon {
  $_edge-width: (8 / 16) + em;

  position: absolute;
  width: $_edge-width;
  height: $_edge-width;
  top: (9 / 16) + em;
  left: (2 / 16) + em;
  transition: transform 0.2s $easing-standard;

  #{$_hover-trigger}:hover & {
    transform: rotate(360deg);
  }

  &::before {
    $_thickness: (3 / 16) + em;

    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-top: $_thickness solid $color-brown;
    border-right: $_thickness solid $color-brown;
    transform: rotate(45deg);
  }
}
